@media (max-width: 1600.98px)
  .grid-layout
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
  //.container, .package .container
  //  grid-column: 2 / span 8
  .service__content
    max-height: 480px
  .help, .platform, .soft, .interface, .methodology, .package, .steps, .feedback, .contacts, .additionally, .footer
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
  .platform__item_mobile
    top: -160vh
  .with-work
    margin-top: 60px
  .about
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
    margin-top: 60px
    &__img
      margin-top: -135px
    &__vector
      top: -522px
  .package__text
    height: 215px
  .contacts__offices_item:before
    left: 31%
  .contacts__offices_adress:before
    left: 16%
  .contacts__offices_adress_moscow:before
    left: 31%
  .contacts__offices_worktime:before
    left: 32%
  .interface__wrapper
    max-width: 40%
  .modal
    margin: 50px 0
  .platform__white
    height: 90%
@media (max-width: 1440.98px)
  .grid-layout, .help, .platform, .soft, .interface, .methodology, .package, .steps, .feedback, .contacts, .additionally, .footer
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr))
  .header__nav_item
    padding: 5px 2%
  .help__content
    padding-left: 15px
  .help__img
    max-width: 250px
    padding: 2%
    svg
      max-width: 100%
  .platform__item_desktop
    grid-column: 1/12
  .platform__item_tablet
    grid-column: 9 / 11
    top: -70vh
    left: 20vw
  .platform__item_mobile
    top: -80vh
    grid-column: 12 / 13
  .contacts__offices_item:before
    left: 29%
  .contacts__offices_adress:before
    left: 12%
  .contacts__offices_adress_moscow:before
    left: 29%
  .contacts__offices_worktime:before
    left: 32%
  .package__text
    height: 255px
@media (max-width: 1367.98px)
  .grid-layout, .help, .platform, .soft, .interface, .methodology, .package, .steps, .feedback, .contacts, .additionally, .footer, .about
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr))
  .container, .package .container
    grid-column: 2/16
  .service
    &__monitor
      grid-column: 1/11
    &__content
      grid-column: 11/16
  .package__text
    height: 200px
  .about__info
    grid-column: 2 / 8
  .about__img
    grid-column: 10 / span 16
  .about__vector
    left: -321px
  .footer__item
    padding-left: 30px
  .about__number
    flex: 0 0 40%
    max-width: 40%
@media (max-width: 1280.98px)
  .grid-layout, .help, .platform, .soft, .interface, .methodology, .package, .steps, .feedback, .contacts, .additionally, .footer, .about
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr))
  .about__numbers
    flex-wrap: wrap
  .about__img
    grid-column: 8 / span 16
    margin-top: -100px
  .footer_left
    grid-column: 1/6
  .footer_right
    grid-column: 10/13
  .footer_center
    grid-column: 8/9
  .footer__social
    grid-column: 1/13
  .methodology__bottom-item_orange_1:before
    left: 15%
  .methodology__bottom-item_red span
    left: 3px
  .methodology__bottom-item_orange_3 span
    font-size: 13px
  .methodology__bottom-item span
    display: flex
    justify-content: center
  .header__topbar
    margin-bottom: 30px
@media (max-width: 1024.98px)
  .grid-layout, .help, .platform, .soft, .interface, .methodology, .package, .steps, .feedback, .contacts, .additionally, .footer, .about
    grid-column: 1/ span 12
  .container, .package .container
    grid-column: 2/ 12
  .header
    &__topbar
      grid-template-rows: 65px 30px 50px
      margin-bottom: 50px
    &__logo
      grid-column: 1 / 5
    &__info_first
      grid-column: 7 / 12
      text-align: right
    &__info_second
      grid-column: 9 / 12
      grid-row: 3 / 3
      order: 3
      text-align: right
    &__callback
      order: 4
      grid-column: 1 / 5
      grid-row: 3 / 4
    &__icon_worktime:before,  &__icon_adress:before
      left: 10px
    &__icon_phone:before, &__icon_email:before
      left: -20px
    &__content_wrapper
      grid-column: 2/12
      margin-bottom: 30px
    &__video
      grid-column: 2/12
      margin-left: 0
    &__nav_item
      padding: 5px 1%
  .service
    grid-column: 1 / span 12
    grid-template-columns: repeat(12, 1fr)
    &__monitor
      grid-column: 1/12
    &__content
      grid-column: 2/12
      max-height: 270px
      order: -1
    &__title
      grid-column: 2 / span 5
      margin-left: 0
      margin-top: 20px
      height: 100px
    &__white
      grid-column: 1/span 12
  .help__items
    grid-template-columns: repeat(1, 1fr)
  .help__img
    max-width: 100%
  .platform
    max-height: 750px
    &__white
      height: 95%
    &__content
      grid-template-columns: repeat(12, 1fr)
    &__item_desktop
      grid-column: 1/9
    .platform__item_tablet
      grid-column: 7/ span 12
      top: -45vh
      left: -10vw
    .platform__item_mobile
      top: -100vh
      left: 0
      grid-column: 10/ span 12
  .soft:before
    top: -700px
  .mockup
    background-position: 0 6%
  .package__item_left
    grid-column: 1/7
  .package__item_right
    grid-column: 7/span 12
  .feedback__wrapper
    margin: 0
  .with-work .soft__item
    padding: 10px
  .footer_left
    grid-column: 1/7
  .contacts__offices_item:before
    left: 25%
  .contacts__offices_adress:before
    left: 0%
  .contacts__offices_adress_moscow:before
    left: 23%
@media (max-width: 768.98px)
  .grid-layout, .help, .platform, .soft, .interface, .methodology, .package, .steps, .feedback, .contacts, .additionally, .footer, .about
    grid-column: 1/ span 9
  .container, .package .container
    grid-column: 2/9
  .top-container
    grid-column: 1/span 9
  .header
    padding-top: 0
    &-design:after, &-design:before
      content: none
    &__topbar
      display: none
    &__nav
      display: none
    &__content
      padding-top: 150px
      grid-column: 2/9
      grid-template-columns: repeat(9, 1fr)
    &__content_wrapper
      grid-column: 1/ span 9
      grid-template-columns: repeat(9, 1fr)
    &__title,  &__subtitle, &__video
      grid-column: 2/9
      padding-left: 0
  .header-mobile
    display: grid
  .service
    grid-column: 1 / span 9
    grid-template-columns: repeat(9, 1fr)
    &__content
      order: 1
      height: 100%
      grid-column: 1/span 9
      .synced
        display: grid
        grid-template-columns: repeat(9, 1fr)
      &-item
        grid-column: 2/9
    &__title
      grid-column: 1 / span 5
      &:after
        width: 40%
    &__monitor
      margin-left: 0
      grid-column: 1/span 9
  .help
    &:after
      top: -580px
      right: 0
  .platform .platform__item_mobile
      top: -75vh
  .interface
    padding-bottom: 0
    &__wrapper
      max-width: 100%
  .mockup
    background-image: none
    &__mobile
      display: grid
  .package
    &__item_left
      margin-right: 0
    &__item_right
      margin-left: 0
    &__text
      height: auto
  .methodology
    &__wrapper
      max-width: 80%
      margin: 30px auto 0
    &__top-item:before,  &__top-item:after
      content: none
    &__bottom-item_orange_1:before
      left: 55px
    &__bottom-item_red span
      left: 35%
  .steps
    display: none
    &__item
      &_mobile
        display: flex
        margin-top: 20px
  .feedback
    -webkit-background-size: cover
    background-size: cover
    &__wrapper
      grid-column: 2 / span 9
      grid-template-rows: repeat(3, 50px)  135px 50px
    &__input
      grid-column: 1/span 3
  .about
    justify-items: center
    &__info
      grid-column: 2/9
    &__numbers
      text-align: center
    &__number
      margin: 0 auto 15px
    &__img
      grid-column: 1/span 9
      order: -1
      margin-top: 0
  .only-desktop
    display: none
  .only-mobile
    display: block
  .soft__wrapper
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(4, 1fr)
  .contacts
    &__wrapper
      grid-template-columns: repeat(1, 1fr)
    &__offices_item:before
      left: 31%
    &__offices_adress:before
      left: 16%
    &__offices_adress_moscow:before
      left: 31%
    &__offices_worktime:before
      left: 32%
  .footer
    &_left
      grid-column: 1/9
    &_center
      grid-column: 1/4
    &_right
      grid-column: 5/ span 9
    &__social
      grid-column: 1/9
    &__social-wrapper
      justify-content: flex-start
    &__social-title
      text-align: left


















