@media (max-width: 1600.98px)
  .grid-layout
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
  //.container, .package .container
  //  grid-column: 2 / span 8
  .service__content
    max-height: 480px
  .help, .platform, .soft, .interface, .methodology, .package, .steps, .feedback, .contacts, .additionally, .footer
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
  .platform__item_mobile
    top: -160vh
  .with-work
    margin-top: 60px
  .about
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
    margin-top: 60px
    &__img
      margin-top: -135px
    &__vector
      top: -522px
  .package__text
    height: 215px
  .contacts__offices_item:before
    left: 31%
  .contacts__offices_adress:before
    left: 16%
  .contacts__offices_adress_moscow:before
    left: 31%
  .contacts__offices_worktime:before
    left: 32%
  .interface__wrapper
    max-width: 40%
  .modal
    margin: 50px 0
@media (max-width: 1440.98px)
  .grid-layout, .help, .platform, .soft, .interface, .methodology, .package, .steps, .feedback, .contacts, .additionally, .footer
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr))
  .header__nav_item
    padding: 5px 2%
  .help__content
    padding-left: 15px
  .help__img
    max-width: 250px
    padding: 2%
    svg
      max-width: 100%
  .platform__item_desktop
    grid-column: 1/12
  .platform__item_tablet
    grid-column: 9 / 11
    top: -70vh
    left: 20vw
  .platform__item_mobile
    top: -80vh
    grid-column: 12 / 13
  .contacts__offices_item:before
    left: 29%
  .contacts__offices_adress:before
    left: 12%
  .contacts__offices_adress_moscow:before
    left: 29%
  .contacts__offices_worktime:before
    left: 32%
  .package__text
    height: 255px
@media (max-width: 1367.98px)
  .grid-layout, .help, .platform, .soft, .interface, .methodology, .package, .steps, .feedback, .contacts, .additionally, .footer, .about
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr))
  .container, .package .container
    grid-column: 2/16
  .service
    &__monitor
      grid-column: 1/11
    &__content
      grid-column: 11/16
  .package__text
    height: 200px
  .about__info
    grid-column: 2 / 8
  .about__img
    grid-column: 10 / span 16
  .about__vector
    left: -321px
  .footer__item
    padding-left: 30px





