@media (max-width: 1600.98px)
  .grid-layout
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
  .container, .package .container
    grid-column: 2 / span 8
  .service__content
    max-height: 480px
  .help, .platform, .soft, .interface, .methodology, .package, .steps, .feedback, .contacts, .additionally, .footer
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
  .platform__item_mobile
    top: -160vh
  .with-work
    margin-top: 60px
  .about
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
    margin-top: 60px
    &__info
      grid-column: 2 / 5
    &__img
      grid-column: 7 / span 9
      margin-top: -135px
    &__vector
      grid-column: 6 / span 9
      top: -488px
      left: -266px
  .package__text
    height: 215px


